body {
	color: rgb(30,30,30);
	background-color: rgb(100,100,100);
	font-family: helvetica;
	text-align: justify;
	font-size: 18px;
	
}

h1 {
	color: white;
	font-family: Courier, monospace;
	text-align: center;
	font-size: 24px;
	
}

h2 {
	color: red;
	font-family: Cooper black;
	font-weight: lighter;
}

a {
	text-decoration: none;
	transition: color 0.5s ease;

}

a:hover {
	text-decoration: underline;
	color: green;

}

.container {
	width: 700px;
	margin: 10px auto;
}

@media (max-width: 500px) {
	.container {
		width : 400px;
	}
}

@media (max-width: 760px) {
	.container {
		width : 600px;
	}
}

.card-white {
	background: white;
	padding: 60px;
	margin: 50px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle {
	border-radius: 50%
}

.btn-blue {
	background-color: rgb(22, 46, 134);
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}

.btn-blue:hover {
	background-color: black;
	color: red;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline  {
	font-size: 10px;
	color: black;
}

.list-inline i:hover {
	color: black;
}

#introduction {
	background-color: rgb(104,153,54);
	color: white;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
	border-radius: 100%;
	padding: 30px;

}

#introduction p{
	margin-bottom: 10px;
	padding: 30px;
	margin-top: 10px;
	font-family: Snell Roundhand;
	font-size: 22px;
}


#sections {
	margin-top: 50px;
}


#handball {
	background-color: red;
}

#handball h2{
	color: black;
}

#poker {
	color: blue;
	background-color: pink; 
}

#casadepapel {
	background-color: black;
	color: white;
}


#footer h2{
	color: black;
}

.card-white p {
	font-family: Handlee
}
